body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}
.container{
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 100px 50px;
    grid-auto-flow: column;
    grid-template-rows: 50px 30px;

}

.item{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item:nth-child(even){
    background-color: salmon;
}